<div class="row">
	<div class="col-lg-12">
    <p id="notice"><%= notice %></p>

    <h1 class="page-header inline"><%= @gallery.name %> <%= "Collection".pluralize(@collections.count > 1 ? 2 : 1 ) %></h1>
		<% if user_signed_in? %>
      <%= link_to 'New Collection', new_gallery_collection_path, class: "btn btn-outline-primary btn-lg right btn-header-area" %>
    <% end %>
  </div>
</div>

<div class="row">
	<div class="col-md-12">
    <% if @collections.count > 0 %>
      <ul>
        <% @collections.each do |collection| %>
          <div class="col-md-3 col-lg-4">
            <div class="thumb img-fluid">
              <li class="item">
              <% item = Item.find(collection.thumbnail) %>
              <%= link_to (image_tag(item.image.url(:thumb), class: "img-rounded item-image img-responsive thumbnail")), collection_path(collection.id, item.id), title: "image thumb", class: "image" %>
              <div class="caption">
              <%= link_to collection.name, collection_path(collection.id, item.id), title: collection.name, class: "img-caption" %>
              </li>
            </div>
          </div>
        <% end %>
      </ul>
    <% else %>
      No collections added yet
    <% end %>
    <br>
  </div>
</div>
