<div class="row">
  <div class="col-md-3">
    <h1>Artwork</h1>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @collection.name %>
    </p>

    <p>
      <strong>Thumbnail:</strong>
      <%= @collection.thumbnail %>
    </p>

    <p>
      <strong>Gallery:</strong>
      <%= @collection.gallery.name %>
    </p>

    <ul>
    	<%	@collection.items.each do |item| %>
    		<li>
          <%= image_tag item.image.url(:thumb), class: "image" %>
    			<%= link_to item.title, [@collection, item], title: 'show image' %>
    		</li>
    	<% end %>
    </ul>
  </div>
  <div class="col-md-9" id="new-image-form">
  </div>
</div>

<div class="row">
  <%= link_to 'Add image', fetch_new_form_path(collection_id: @collection.id), class: 'btn btn-primary', remote: true %>
  <%= link_to 'Edit Collection', edit_collection_path(@collection), class: 'btn btn-primary' %>
  <%= link_to 'Back', gallery_collections_path(@collection.gallery_id), class: 'btn btn-primary' %>
</div>
