<h1>A Series has a bunch of images. See thumbnails below.</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @group.thumbnail %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @group.gallery.name %>
</p>

<ul>
	<%	@group.items.each do |item| %>
		<li>
      <%= image_tag item.image.url(:thumb) %>
			<%= link_to item.title, group_item_path(item), title: 'show image' %>
		</li>
	<% end %>
</ul>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', gallery_groups_path(@group.gallery_id) %>
