
<div class="row top" >
  <div class="page-header col-sm-12">
    <h1 class="clear">Galleries</h1>
    <%= link_to 'New gallery', new_gallery_path, class: "btn btn-outline-primary btn-lg btn-header-area btn-custom" %>
  </div>
</div>

<div class="row" >
  <% @galleries.each do |gallery| %>
  <div class="col-md-4">
    <div id="gallery">
      <h2><%= link_to gallery.name, gallery_collections_path(gallery.id) %></h2>


      <ul class="gallery-list">
        <% gallery.collections.each do |collection| %>
          <li><%= link_to collection.name, collection, class: "show-collection" %></li>
        <% end %>
        <%= link_to "Add new collection", new_gallery_collection_path(gallery.id), class: "add_new_collection" %><br />
      </ul>

      <br>

      <small>
        Gallery:
        <%= link_to 'Edit name', edit_gallery_path(gallery) %> |
        <%= link_to 'Archive', archive_gallery_path(gallery.id), method: :patch %>
      </small>
    </div>
  </div>
  <% end %>
</div>
<hr>
<div class="row" >
  <div class="col-md-4">
    <div class='archived_galleries'>
      <%= link_to 'Show archived galleries', archived_gallery_path %>
    </div>
  </div>
</div>
