<h1>Editing <%= @item.title %></h1>

<%= render 'form_new_item' %>
<%= link_to 'Destroy', collection_item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
<br />
<%= link_to 'Show', @collection_item %> |
<%= link_to 'Back', collection_items_path(@item.collection_id) %>
