<% if !@gallery.active? %>
  <h1 class="clear">** Archived **</h1>
<% end %>

<h1 class="clear">Edit <%= @gallery.name %> Gallery</h1>

<%= render 'form' %>

<% if @gallery.active? %>
  <%= link_to 'Archive', archive_gallery_path(@gallery.id), method: :patch %>
<% else %>
  <%= link_to 'Restore gallery', un_archive_gallery_path(@gallery.id), method: :patch %>
<% end %>
<p>
  <%= link_to 'Back', galleries_path %>
</p>
