<!DOCTYPE html>
<html>
  <head>
    <title>Mark Einert Gallery</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Droid+Serif' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/icon?family=Material+Icons' %>

  </head>

  <body class="<%= @show_page ? 'artwork' : ''%> <%= @home_page ? 'home-image' : ''%>">
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <% if !@home_page %>
        <%= render 'layouts/header' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
