<!DOCTYPE html>
<html>
  <head>
    <title>FuzzyHatArtistSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Droid+Serif' %>
  </head>



  <body class="<%= @show_page ? 'artwork' : ''%> <%= @home_page ? 'home-image' : ''%>">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>
      <%= yield %>
      <% if !@home_page %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>
